html{
    background-color: rgb(246, 247, 255);
}
.casepays{
    margin-left: auto;
    margin-right: auto;
}
#pays1{
    float: left;
    text-align: left;
}
#pays2{
    float: right;
    text-align: right;
}
#libelle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    border: 1px solid black;
}
