*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    background-color: rgb(246, 247, 255);
}
header {
    height:130px;
    width:1250px;
    background-color: #A8BBFF;
    
    margin : auto;
    position: relative;
  }
  /* Aide bandeau : https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-horizontal-sticky/ */  
  nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: #b9c7fa;
    position: sticky;
    top: 0px;
    
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 20%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    transition: transform .2s;
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
    transition-property:all; 
    transition-duration:0.4s; 
}

nav a:hover{
    color: #148EFF;
    border-bottom: 2px solid #148EFF;
    transition-property:all; 
    transition-duration:0.4s; 
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}
/* FIN BANDEAU*/
#form_index{
    text-align: center;
}
h2{
    background-color: #A8BBFF;
    border-radius: 7px;
    text-align: center;
    margin-left: 40%;
    height: 50px;
    width: 150px;
    line-height :45px;
    text-transform: uppercase;
}
#ScoreLeaders{
    margin-top: 30px;
    margin-left: 28px;
    color: #a5a5a5;
    background-color: #E5E5E5;
    text-transform :none;
    line-height: 20px;
    height: min-content;
    width: 135px;
}
#Score{
    height: 41px;
    width: 50px;
    margin-top:30px;
    float: left;
}
/*Classement accueil dans un table*/
table{
    margin-top: 5%;
    margin-left: 20%;
    text-align: center;
    line-height: 25px;
    border-spacing: 8px;
}
#index_tab{
    /*margin-top: 2%;
    margin-left: 25%;
    border-spacing: 35px;*/
    table-layout:fixed;
    width: 80%;
    border-collapse:collapse;
    border: 3px solid #A8BBFF;
    margin-left: auto;
    margin-right: auto;
}
#index_tab tr:nth-child(odd){
    background-color: rgb(246, 247, 255);
}
#index_tab tr:nth-child(even){
    background-color: rgb(214, 219, 253);
}
/*J'arrive pas à séléctionner ligne des titres*/
#champs{
    text-decoration:double underline;
}
.formulaire_filtres{
    width: 20%;
    background-color: none;
    position: relative;
    text-transform: uppercase;
    border: 1px solid #A8BBFF;
    border-radius: 2%;
    text-align: center;
}
.àremplir{
    margin-left: auto;
    margin-right: auto;
    width:350px;
    text-align: center;
    top : -85px;
    left: auto;
    position:relative;
    background-color: #A8BBFF;
    font-style: oblique;
}
.selection{
    /*j'arrive pas à centrer sous la case qui correspond*/
    background-color: red;
    display:inline-block;
    width: max-content;
    position: relative;
    left: 20%;
}
#indic{
    margin-left: auto;
    margin-right: auto;
    width:60%;
    text-align: center;
    left: auto;
    position:relative;
    font-style: oblique;
    text-decoration:wavy underline;
}

/*CSS de la page comparer : */



#libelle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.casepays{
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 7px;
    border-radius: 18px;
    font-size: large;
    
  
    margin-left: auto;
    margin-right: auto;
}
#annee{
    padding-right: 0px;
    width: 65px;
    height: 23px;
    text-align: center;
    border-radius: 8px;
}
#comparer{
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
#pays{
    margin-left: 20%;
    margin-right: 20%;
}
#pays1{
    float: left;
}
#pays2{
    float: right;
}
#conteneur{
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
}
.colp{
    font-size: x-large;
    width: 20%;
    float: left;
    display: inline;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 46px;
}
.conteneur1{
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}
.conteneur2{
    overflow: hidden;
    margin-left: 19%;
    margin-right: 19%;
}
#pays_gauche{
    text-align: left;
    font-size: xx-large;
}
#pays_droit{
    text-align: right;
    font-size: xx-large;
}
.colp1{
    width: 33%;
    float: left;
    display: inline;
    text-align: center;
}
.colp2{
    width: 50%;
    float: left;
    display: inline;
    text-align: center;
}
#bouton{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.indication{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    position: relative;
    bottom : 245px;
}
#graphe_comparer{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#img_graphe_comp{
    border-radius: 15px;
    box-shadow: 7px 7px 7px grey;
}
/* fin du css de la page comparer*/
/* css de la page continents */
.test {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #F6F7FF;
}

.continents1 li {
    list-style-type: none;
    background-color: #E8EDFF;
    width: 115px;
    height: 90px;
    padding: 0px;
    margin: 1%;
    background-image: url(../image/earth-logo.png);
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center top;
    border: 1px #E8EDFF solid;
    border-radius: 20%;
    display: inline-table;
}

.continents1 li a {
    display: table-cell;
    height: inherit;
    vertical-align: bottom;
    margin-bottom: 2px;
 }

.indice {
    background-color: white;
    width: 110px;
    height: 45px;
    line-height: 0.2em;
    display: inline-block;
    border: 1px gray solid;
    text-align: center;
    border-radius: 20px;
    margin:5px;
    
}

h1 {
    text-align: center;
    width: 200px;
    margin: auto;
    background-color: #377CE4;
    color: white;
    border: 1px gray solid;
    border-radius: 20px;
}


.continents2 li {
    list-style-type: none;
    background-color: #E8EDFF;
    line-height: 1.5em;
    padding: 2px;
    text-align: center;
    margin: 2px;
    border: 1px gray solid;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}
.gros{
    transition: transform .2s;
}
.gros:hover{
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}





