body{
	background-color: #F6F7FF;
}

p { 
background-color: #A8BBFF;
width: 1250px;
height: 470px;
margin-right: auto;
margin-left: auto;
}

pa{background-color: #FFFFFF;
	width: 1000px;
	height:1000px;
	margin-right: auto;
	margin-left: auto;	
}
