*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    background-color: rgb(246, 247, 255);
}
header {
    height:130px;
    width:1250px;
    background-color: #A8BBFF;
    
    margin : auto;
    position: relative;
  }
  /* Aide bandeau : https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-horizontal-sticky/ */  
  nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: #b9c7fa;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;

}

nav li{
    float: left;
    width: 20%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: #148EFF;
    border-bottom: 2px solid #148EFF;
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}
/*h2 pour la page score avec en titre le nom des scores*/
h2{
    background-color: #A8BBFF;
    border-radius: 7px;
    text-align: center;
    margin-left: 40%;
    height: 50px;
    width: 150px;
    line-height :45px;
    text-transform: uppercase;
}
#ScoreLeaders{
    margin-left: 20%;
    color: #a5a5a5;
    background-color: #E5E5E5;
    text-transform :none;
    line-height: normal;
}
/*Classement accueil dans un table*/
table{
    margin-top: 5%;
    margin-left: 20%;
    text-align: center;
    line-height: 25px;
    border-spacing: 8px;
}

/*CSS de la page comparer : */
html{
    background-color: rgb(246, 247, 255);
}


#libelle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.casepays{
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 7px;
    border-radius: 18px;
    font-size: large;
    
  
    margin-left: auto;
    margin-right: auto;
}
#annee{
    padding-right: 0px;
    width: 65px;
    height: 23px;
    text-align: center;
    border-radius: 8px;
}
#comparer{
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
#pays{
    margin-left: 20%;
    margin-right: 20%;
}
#pays1{
    float: left;
}
#pays2{
    float: right;
}
#conteneur{
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}
.colp{
    font-size: x-large;
    width: 20%;
    float: left;
    display: inline;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 46px;
}
.conteneur1{
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}
.conteneur2{
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}
#pays_gauche{
    text-align: left;
    font-size: xx-large;
}
#pays_droit{
    text-align: right;
    font-size: xx-large;
}
.colp1{
    width: 33%;
    float: left;
    display: inline;
    text-align: center;
}
.colp2{
    width: 50%;
    float: left;
    display: inline;
    text-align: center;
}
#bouton{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.indication{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    position: relative;
    bottom : 245px;
}
/* fin du css de la page comparer*/